In [41]:
# Import Dependencies
import datetime as dt
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, MetaData, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy.sql import text
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [42]:
# Create an engine for the database connection
engine = create_engine('sqlite:///data/belly_button_biodiversity.sqlite', echo=False)

In [43]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [44]:
# Save references to all 3 tables
class OTU(Base):
    __tablename__ = "otu"
    __table_args__ = {"extend_existing":True}
    otu_id = Column(Text,primary_key=True)

class Samples(Base):
    __tablename__ = "samples"
    __table_args__ = {"extend_existing":True}
    otu_id = Column(Text,primary_key=True)

class Samples_Metadata(Base):
    __tablename__ = "samples_metadata"
    __table_args__ = {"extend_existing":True}
    SAMPLEID = Column(Integer,primary_key=True)

In [45]:
# Create a database session object
session = Session(engine)

In [46]:
# Inspect columns in each table
inspector=inspect(engine)
inspector.get_table_names()

['otu', 'samples', 'samples_metadata']

In [49]:
# Get list of OTU descriptions
#descriptions = [d.lowest_taxonomic_unit_found for d in session.query(OTU.lowest_taxonomic_unit_found).distinct()]
#descriptions

sql = "select * from OTU"
df = pd.read_sql(sql, engine)
df.head(15)

    otu_id                        lowest_taxonomic_unit_found
0        1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1        2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2        3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3        4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4        5  Archaea;Euryarchaeota;Methanobacteria;Methanob...
5        6  Archaea;Euryarchaeota;Methanobacteria;Methanob...
6        7                                           Bacteria
7        8                                           Bacteria
8        9                                           Bacteria
9       10                                           Bacteria
10      11                                           Bacteria
11      12                                           Bacteria
12      13                                           Bacteria
13      14                                           Bacteria
14      15                                           Bacteria

In [48]:
# Inspect & explore Samples dB
names = inspector.get_columns('samples')

# Load the query results for OTU IDs into pandas dataframe
df = pd.DataFrame(names, columns=['name'])
df.columns = ['sample_name']
sample_names_df = df.iloc[1:]
samples_list = sample_names_df['sample_name'].tolist()
samples_list

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']